body, html { height:100%; }

body { overflow:hidden; }

#container {
	background-image:url('/img/home/bkg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center center;  
}

#statusbar {
	height:30px;
	width:100%;
	top:0;
	text-align:center;
}

#statusbar img { width:100%; }


.content {  
	position:relative;
    width:100%;
    bottom:0px;
    left:0px;
    right:0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.icon, .icon img { width: 100%; }

#msg-note {
	position:absolute;
	top:-5px;
	left:80px;
	z-index: 1;
	width:48px;
}
