body { opacity:0; }

#container {
	padding-bottom:100px;
	background: white;
	position: relative;
}
header {
	width: 50%;
	margin:0 auto;
}

div#voicemails {
	width: 100%;

}

.msg {
	padding:20px 0;
	clear:left;
}

div#voicemails img {
	width:inherit;
}
   
div.name img {
	width:100%;
}

.audio-wrap {
	display: flex;
	height: 0;
	transition: height 500ms;
}

div.sound img {
	width: 100%;
}
div.play img {
	width: 100%;
	height: 100%;
}
  
div.sound, div.play {
	position:relative;
	overflow: hidden;
}

div.slide-down {
	height: 60px;
}

div.ov {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:rgba(255,255,255,0.8);
}

audio {
	width:0;
}